<div class="container">
	<div class="row">
		<div class="col-sm-8">
            <div id="question-title">
                <h1><%= @question.title %></h1>
            </div>			                    
            <div class="question-up">
                <% if signed_in? %>
                    <% if @question.votes.exists?(user_id: current_user.id) %>
                        <br>
                        <div id="vote-color">
                            <%= @question.votes.count %>
                        </div>                    
                        <%= link_to '<i class="fa fa-sort-desc fa-3x"></i>'.html_safe, question_votes_del_path(@question), method: :delete %> 
                    <% else %>
                        <br>
                        <div id="vote-color">
                            <%= @question.votes.count %>
                        </div>
                        <%= link_to '<i class="fa fa-sort-asc fa-3x"></i>'.html_safe, question_votes_path(@question), method: :post %> 
                    <% end %>
                <% end %>                
            </div>        

            <div class="question-up">
                <div id="question-content">
                    <strong><%= @question.body %></strong>                    
                </div>
            </div>            


            <% @question.comments.each do |question| %>
            	<hr>
            	<%= markdown(question.body) %>
            <% end %>

            <% if signed_in? %>
                <% if @comment.errors.any? %>
                    <div class="alert alert-danger">
                        <ul>
                            <% @comment.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>            
                <%= form_for [@question, @comment] do |f| %>
                    <div class="form-group">
                        <%=  f.text_area :body, class: "form-control input-lg", placeholder: "Comentar Pregunta" %>
                    </div>
                    <div>
                        <%= f.submit "Comentar", class: "btn btn-primary" %>
                        <%= f.hidden_field :user_id, :value => current_user.id%>
                    </div>  
                <% end %> 
            <% end %> 

            <h3><%= @question.answers.count %> Respuesta(s)</h3>
            <% @question.answers.each do |answer| %>
            	<hr>
                <div id="vote-color">
                    <%= answer.votes.count %>
                </div>                    

                <% if signed_in? %>
                    <% if answer.votes.exists?(user_id: current_user.id) %>
                        <%= link_to '<i class="fa fa-sort-desc fa-3x"></i>'.html_safe, votes_answer_del_path(answer), method: :delete %>                    
                    <% else %>
                        <%= link_to '<i class="fa fa-sort-asc fa-3x"></i>'.html_safe, votes_answer_path(answer), method: :post %>
                    <% end %>
                    <%= answer.body %>
                    <%= form_for [@question, @comment] do |f| %>
                        <div class="comment">
                            <%=  f.text_area :body, class: "form-control input-lg", placeholder: "Comentar Respuesta" %>
                        </div>
                        <% if signed_in? %>
                            <div class="comment">
                                <%= f.submit "Comentar Respuesta", class: "btn btn-primary" %>
                                <%= f.hidden_field :user_id, :value => current_user.id%>
                            </div>  
                        <% end %>                 
                    <% end %>                 
                <% else %>
                    <%= link_to '<i class="fa fa-sort-asc fa-3x"></i>'.html_safe, new_user_session_path %>                    
                    <%= answer.body %>
                <% end %>                             
            <% end %>

            <% if signed_in? %>
                <br>
	            <h3>Tu Respuesta</h3>
                <%= form_for [@question, @answer] do |f| %>
                    <div>
                        <%=  f.text_area :body, class: "form-control input-lg", placeholder: "Respuesta"  %>
                    </div>
                    <br>
                    <div>
                        <%= f.submit "Enviar Respuesta", class: "btn btn-primary" %>
                        <%= f.hidden_field :user_id, :value => current_user.id%>
                    </div>  
                <% end %> 
            <% end %>            
		</div><!--.col -->
	</div> <!--.row -->
</div> <!--.container -->